
code{
  font-size: 40px;
}
small{
  font-size: 12px;
  font-style: italic;
}
.head{
  text-align: left;
}
.search-zone{
  width: 100%;
  padding : 15px;
  box-shadow : 0 3px 5px rgba(0,0,0,0.35);
  border: 0px;
}
.search-box{
  width: 80%;
  position: fixed;
  top: 0px;
}

.Item-List{
  padding-top: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  padding-left : 7%;
  padding-right : 7%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
